{% extends 'base.html.twig' %}

{% block body %}
    <h1> Bonjour à tous ! </h1>
    
    <form action="">
        <div class="form-group">
            <input placeholder="Entrer votre mail..." required name="_username" type="text" class="form-control">
            <input placeholder="Entrer votre mailmdp..." required name="_password" type="password" class="form-control">
        </div>
        <div class="form-group">
         <button type="submit" class="btn btn-success">Connexion !</button>
        </div>
    </form>
{% endblock %}